.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid #E9E9EA; 
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color: #2F363E;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__notification__default{
    background-color: tomato;
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 35px;
    bottom: 30px;   
}